@charset 'utf-8';

@import 'global/variables';
@import 'global/typography';
@import 'global/settings';

// TUMBLR BASICS
@import 'components/tumblr_iframe.scss';

// CONTAINERS
@import 'components/sidebar.scss';

// POSTS
@import 'components/posts.scss';

// BLOCS
@import 'components/nav.scss';
@import 'components/pagination.scss';
@import 'components/credit.scss';

// RESPONSIVE
// @import 'components/responsive/tablette.scss';
// @import 'components/responsive/phone.scss';

/*----- BASIC STYLING -----*/
$global_transition: 0.3s ease-in-out;
$main_width: 100%;
$body_padding:0;

:root {
    font-size:10px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: $body-font-family;
    font-size: $global-font-size;
    color: $body-font-color;
    background-color: $body-background;
    line-height: $global-lineheight;
    word-wrap: break-word;
    margin: 0;
    padding: $body_padding;
}

a {
    color: $dark_gray; 
    text-decoration: none;
    transition: all $global_transition;
    font-size:1em;

    &:hover {
        color: $primary_color;
    }
}

h1, h2, h3, h4, h5, .title {
    font-family: $header-font-family;
    font-weight: $header-font-weight;
    font-style: $header-font-style;
    color: $header-color;
    line-height: $header-lineheight;
    margin-bottom: $header-margin-bottom;
}

h1 {font-size: map-deep-get($header-styles, large, h1, font-size);}
h2 {font-size: map-deep-get($header-styles, large, h2, font-size);}
h3 {font-size: map-deep-get($header-styles, large, h3, font-size);}
h4 {font-size: map-deep-get($header-styles, large, h4, font-size);}
h5 {font-size: map-deep-get($header-styles, large, h5, font-size);}

small {font-size: $small-font-size;}
big {font-size: 1.1em;}

ol, ul {
    margin-bottom:$list-margin-bottom;
    list-style-type:$list-style-type;
    list-style-position: $list-style-position;

    li {
        line-height:$list-lineheight;
    }
}

hr {
    height: 0;
    border: $hr-border;
    box-shadow: none;
    background-color: $medium_gray;
    width: $global-width;
    margin: $hr-margin;
}

pre {
    line-height: inherit;
    font-size: inherit;
    white-space: pre-wrap;
    word-wrap: break-word;
}

main {
    position: relative;
    width: $main_width;
    margin: auto;
    display: flex;
}

section {
    position: relative;
    width: 60vw;
}

img {
    margin: 0;
    display: block;
    height: auto;
    max-width: 100%;
}

figure {
    margin-left:0;
    margin-right:0;
}

// tooltips

#s-m-t-tooltip {
    max-width:30rem;
    margin:1.5rem;
    padding:0.2rem 0.5rem;
    border:1px solid $light_gray;
    border-radius:0;
    background:$white;
    color:$black;
    z-index:999999;
    font-size:0.8em;
    font-style:none;
    letter-spacing:0.01em;
    font-family:$regular;
    text-transform:lowercase;
    box-shadow: 0 0 0 $light_gray;
}
 
// scrollbar

::-webkit-scrollbar {
    background-color: $white;
    height:0.8rem;
    width:0.3rem;
}
 
::-webkit-scrollbar-thumb:vertical {
    background-color: $light_gray;
    height:5rem;
}

::-webkit-scrollbar-thumb:horizontal {
    background-color:$white;
    height:0.8rem !important;
}