// fonts
$regular: 'Poppins', Arial, Helvetica, sans-serif;
$title: 'Luxurious Roman', cursive;

// colors
$primary_color: darkred;
$secondary_color: #71d3d7;

$light_gray: #c9c9c9;
$medium_gray: #b5b5b5;
$dark_gray: #404040;
$black: #0a0a0a;
$white: #fefefe;

// others
$post_size: 50rem;
$sidebar_img: true;