$sidebar_width: 40vw;

/*----- SIDEBAR -----*/

#sidebar {
    width: $sidebar_width;
    padding-right:15rem;

    .title {
        font-family:$title; text-align: center;
        a {color:$primary_color;}
    }

    > .container {
        position:sticky;
        top:15rem;
        margin-left:auto;
        width:20rem;
    }

    .description {text-align: justify;}
}

@mixin sidebar_img($sidebar_img: true) {
    @if $sidebar_img {
        .sidebar_img {display: block;}
    }
  }
@include sidebar_img($sidebar_img);